<span (click)="open(betriebmodal);"> Betrieb verknüpfen</span>

<!-- Betriebsname Modal -->
<ng-template #betriebmodal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Betrieb anlegen / verknüpfen</h5>
        <button type="button" class="close" style="cursor: pointer;" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body2">
        <form name="addBetriebForm" role="form" novalidate #addBetriebForm="ngForm">
            <div class="m-b-10">
                <label>Bitte tragen Sie den Namen Ihres Betriebs ein</label>
            </div>
            <app-search-betriebe-elastic [includeKunstler]="false" (selectedBetriebe)="selectedItemBetrieb($event)" [displayAktivBet]="false" [AktivBetId]="aktivBetrieb?.betriebsId"
                                         (blurInput)="hideResultBox($event)" (notFound)="resultnotFound($event)" [requiredValidator]="true" [classCheck]="true"
                                         (betriebFoundInCrowd)="resultNotFoundInCrowd($event)" [displayExtraOption]="true" [liland]="liland">
            </app-search-betriebe-elastic>
            <span *ngIf="searching">suchen...</span>
            <div class="m-t-10 m-b-10" *ngIf="searchFailed && !foundInCrowdList">
                <div class="hinweis">
                    Dieser Betrieb ist noch nicht vorhanden. Bitte geben Sie das Land ein, in dem der Betrieb ansässig
                    ist
                    und wählen Sie ein Rechtsform. Anschließend können Sie den Betrieb
                    <span class="f-w-600">"{{newbetrieb.betriebsname}}"</span> anlegen.
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label>Land*</label>
                        <select id="selectbasic3" name="lilandsId" class="custom-select" value="Bitte wählen"
                            #lilandsId="ngModel" [(ngModel)]="newbetrieb.listeLandsId" required>
                            <option [ngValue]="undefined" selected disabled>Bitte wählen</option>
                            <ng-container *ngFor="let lands of liland; let i= index;">
                                <option *ngIf="createNewLandComapany && checkBetLandExistInDBBetList(lands.id)" value="{{lands.id}}" > {{lands?.bezeichnung}}</option>
                                <option *ngIf="!createNewLandComapany" value="{{lands.id}}" > {{lands?.bezeichnung}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12">
                        <label>Rechtsform*</label>
                        <div *ngFor="let rforms of listerform; let i=index;" class="radio m-t-15">
                            <label class="otherlabel" for="radios{{i}}">
                                <input type="radio" name="radios{{i}}" id="radios{{i}}" value="{{rforms?.id}}"
                                    [(ngModel)]="newbetrieb.listerformsId" required>
                                {{rforms?.gruppe}}
                            </label>
                            <br>
                            <span style="margin-top: 5px; color: #bbbbbb;"
                                *ngIf="newbetrieb.listerformsId == rforms.id">
                                {{rforms.bezeichnung}}
                            </span>
                            <span *ngIf="rforms.id === 106 && newbetrieb.listerformsId == rforms.id">
                                <br>
                                <input required type="text" class="form-control" placeholder="Name der Behörde"
                                    name="geschaftsbereich" [(ngModel)]="newbetrieb.geschaftsbereich">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div [ngSwitch]="1">
                <div *ngSwitchCase="1">
                    <div *ngIf="isLoading">
                        <app-spinnerOverlay></app-spinnerOverlay>
                    </div>
                    <!--&& !searchFailed && newbetrieb.betriebsname != null && newbetrieb.betriebsname != '' && !searching-->
                    <div
                        *ngIf="showBetModal && displayInfo == null">
                        <hr>
                        <div class="row companyinfo">
                            <div class="col-lg-3">
                                <img *ngIf="!imagePlaceholder" class="imgprofile-com"
                                     src="../../../../content/images/placeholder_betrieb.jpg" alt="Platzhalter">
                                <img *ngIf="imagePlaceholder" class="imgprofile-com"
                                    [src]="'data:' + betriebImage?.mediaContentType + ';base64,' + betriebImage?.media"
                                    alt="bp image" />
                            </div>
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label>{{loadedBetriebe?.betriebsname}}</label>
                                        <p>{{loadedeBetribeAddress?.poststrasse}}<br>
                                            {{loadedeBetribeAddress?.postplz}} {{loadedeBetribeAddress?.poststadt}}<br>
                                            {{betribeLiland?.bezeichnung}}</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Kontaktdaten</label>
                                        <div *ngFor="let konto of loadedBetribeKonto">
                                            <div *ngIf="konto.kommunikationsart == 0">
                                                <span> Mail: <a class="pointer">
                                                        {{konto.wert}} </a> </span>
                                            </div>
                                            <div *ngIf="konto.kommunikationsart == 3">
                                                <span>Tel: {{konto.wert}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-20">
                                    <div class="col-lg-6">
                                        <label>Leitung</label>
                                        <div *ngFor="let leiter of loadedBetribeLeiter; let j = index;">
                                            <div *ngIf=" leiterVerknupfCheck[j] != undefined && leiterVerknupfCheck[j].check == '0' || leiterVerknupfCheck[j].check == '1'">
                                                <img *ngIf="!checkIfImageExistsLeiter(leiter.id)" class="imgprofilesmall-com"
                                                     src="../../../../content/images/Portrait_Placeholder.png" alt="Platzhalter">
                                                <img *ngIf="checkIfImageExistsLeiter(leiter.id)" class="imgprofilesmall-com"
                                                     [src]="getImageforleiter(leiter.id)" alt="bp image" />
                                                <span>{{leiter?.titel}}{{leiter?.vorname}} {{leiter?.nachname}}</span>
                                                <div class="m-l-10" *ngIf="leiterVerknupfCheck[j].check == '0' && !verknupft">
                                                    Sind Sie diese/r Leiter/in?<br>
                                                    <span class="textlink" (click)="connectwithMitarbeiter(leiter.id)">
                                                    Jetzt verknüpfen</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6" *ngIf="loadedBetribeMitarbiter.length != 0 ">
                                        <label>Mitarbeiter</label>
                                        <div *ngFor="let mitarbeiter of loadedBetribeMitarbiter; let i = index;">
                                            <div *ngIf=" mitVerknupfCheck[i] != undefined && mitVerknupfCheck[i].check == '0' || mitVerknupfCheck[i].check == '1'">
                                                <img *ngIf="!checkIfImageExistsMit(mitarbeiter.id)" class="imgprofilesmall-com"
                                                     src="../../../../content/images/Portrait_Placeholder.png" alt="Platzhalter">
                                                <img *ngIf="checkIfImageExistsMit(mitarbeiter.id)" class="imgprofilesmall-com"
                                                     [src]="getImageforMitarbeiter(mitarbeiter.id)" alt="bp image" />
                                                <span>{{mitarbeiter?.titel}}{{mitarbeiter?.vorname}}
                                                    {{mitarbeiter?.nachname}}</span>
                                                <div class="m-l-10" *ngIf=" mitVerknupfCheck[i].check == '0' && !verknupft">
                                                    Sind Sie diese/r Mitarbeiter/in?<br>
                                                    <span class="textlink" (click)="connectwithMitarbeiter(mitarbeiter.id)">
                                                    Jetzt verknüpfen</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!searchFailed && !verknupft " class="row m-t-20"
                            style="text-align: left">
                            <div class="col-lg-6" *ngIf="alreadyPartOfBetrieb == null">
                                <button (click)="displayInfo=2; saveBetrieb('Leiter')" class="btn btn-primary btn-block"><i
                                        class="icofont icofont-user-alt-1"></i>
                                    Als neuer Leiter verknüpfen</button>
                            </div>
                            <div class="col-lg-6 " *ngIf="alreadyPartOfBetrieb == null">
                                <button (click)="displayInfo=3; saveBetrieb('Mitarbeiter');"
                                    class="btn btn-primary btn-block f-right"><i
                                        class="icofont icofont-users-alt-1"></i>
                                    Als neuer Mitarbeiter verknüpfen</button>
                            </div>
                            <div class="col-lg-12" *ngIf="alreadyPartOfBetrieb != null">
                                <button (click)="displayInfo=3; saveBetrieb('existing');"
                                        class="btn btn-primary btn-block f-right"><i
                                    class="icofont icofont-users-alt-1"></i>
                                     Verknüpfen</button>
                            </div>
                        </div>

                        <div *ngIf="!searchFailed && verknupft " class="row hinweisbox">
                            Sie sind schon mit diesem Betrieb verknüpft.
                        </div>
                    </div>
                </div>
                <div *ngIf="displayInfo == 2">
                    <div *ngIf="!searchFailed">
                        <div *ngIf="!impressumbetrieb" class="hinweis m-t-20">
                            <p class="font-weight-bold">Verknüpfung angefragt</p>
                            Der Betriebsinhaber von <span class="f-w-600">"{{loadedBetriebe.betriebsname}}"</span> wurde
                            darüber informiert, dass Sie sich als <em>Leiter</em> verknüpfen möchten.<br>
                        </div>
                        <div *ngIf="impressumbetrieb" class="hinweis m-t-20">
                            <p class="font-weight-bold">Verknüpfungsanfrage wird geprüft</p>
                            Der Betrieb "{{loadedBetriebe.betriebsname}}" ist bislang nicht im eKulturPortal aktiv.
                            Demnach prüft der eKulturPortal-Kundenservice Ihre Angaben innerhalb von 24 Stunden auf
                            Richtigkeit.
                            Vielen Dank für Ihr Verstädnis.
                        </div>
                        <button type="button" class="btn btn-outline-dark f-right"
                            (click)="c('Close click'); reload()">Okay
                        </button>
                    </div>
                </div>
                <div *ngIf="displayInfo == 3">
                    <div *ngIf="!searchFailed">
                        <div *ngIf="!impressumbetrieb" class="hinweis m-t-20">
                            <p class="font-weight-bold">Verknüpfung angefragt</p>
                            Der Betriebsinhaber von <span class="f-w-600">"{{loadedBetriebe.betriebsname}}"</span> wurde
                            darüber informiert, dass Sie sich als <em>Mitarbeiter</em> verknüpfen möchten.<br>
                        </div>
                        <div *ngIf="impressumbetrieb" class="hinweis m-t-20">
                            <p class="font-weight-bold">Verknüpfungsanfrage wird geprüft</p>
                            Der Betrieb "{{loadedBetriebe.betriebsname}}" ist bislang nicht im eKulturPortal aktiv.
                            Demnach prüft der eKulturPortal-Kundenservice Ihre Angaben innerhalb von 24 Stunden auf
                            Richtigkeit.
                            Vielen Dank für Ihr Verstädnis.
                        </div>
                        <button type="button" class="btn btn-outline-dark f-right"
                            (click)="c('Close click'); reload()">Okay
                        </button>
                    </div>
                </div>
                <div *ngIf="searchFailed" class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="c('Close click');">Abbrechen
                    </button>
                    <button *ngIf="addBetriebForm.form.valid" type="submit" class="btn btn-primary"
                        (click)="c('Close click'); saveBetrieb('Betrieb');">Betrieb
                        anlegen
                    </button>
                    <button *ngIf="!addBetriebForm.form.valid" type="submit" class="btn disabled2"
                        ngbTooltip="Bitte füllen Sie alle Pflichtfelder aus">
                        Betrieb anlegen
                    </button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<!-- End Betriebsname Modal -->
