<!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <a [routerLink]="['/']">
        <img class="img-fluid" src="../../../assets/images/Logo-eKulturPortal_app.jpg" alt="eKulturPortal Logo" style="padding-left: 10px;" />
    </a>
    <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
    <a routerLink="/" style="color: #353c4e"><span class="f-right zurueck">Zurück</span></a>
</div> -->
<div class="row">
    <div class="col-lg-12">
        <div class="card main-card">
           
            <div class="content-layout">
                <!-- <h3 class="heading-mid p-b-20">Allgemeine Geschäftsbedingungen</h3> -->

                <strong>Präambel</strong>

                Mit der Registrierung und Anmeldung bei <em>ekulturportal.de</em> (nachfolgend „eKulturPortal“ genannt)
                z.B.: unter <u><a href="https://www.ekulturportal.de">https://www.ekulturportal.de</a></u> (nachfolgend
                „Website“ genannt) oder darauf verweisenden Domains wie z.B. <u><a href="https://www.ekulturportal-test.de">https://www.ekulturportal-test.de</a></u>
                erklären Sie sich mit den unten aufgeführten Geschäftsbedingungen einverstanden.

                Sollten Sie mit diesen Geschäftsbedingungen nicht einverstanden sein, so verzichten Sie bitte auf die
                Anmeldung bzw. Registrierung im eKulturPortal. Diese hier vorliegenden Allgemeinen Geschäftsbedingungen
                gelten für alle Webseiten des Betreibers <em>eKulturPortal</em>
                <ol start="5">
                    <li>Allgemeines</li>
                    <li>Geschäftsbeziehungen, Vertragsnetzwerke und Vertragsteile</li>
                    <li>Gültigkeit</li>
                    <li>Leistungsumfang</li>
                    <li>Vertragsabschluss, Vertragsbeginn</li>
                    <li>Datenschutz</li>
                    <li>Haftung des Betreibers</li>
                    <li>Pflichten des Benutzers</li>
                    <li>Verbot von Spamming, private Nutzung</li>
                    <li>Urheberrechte, Nutzung in Medien</li>
                    <li>Änderungen der Allgemeinen Geschäftsbedingungen</li>
                </ol>
                &nbsp;
                <ul>
                    <li><strong>Allgemeines</strong>

                        das eKulturPortal ist ein Portal (in der Testphase) zur Vermittlung von Gastspielen von
                        Theatern, Agenturen, Künstlergruppen, Künstlern oder sonstigen darstellenden Gruppen
                        (nachstehend „Anbieter“) an einen gewünschten Aufführungsort, sofern dieser innerhalb des im
                        Buchungsvorgang vorgesehenen Liefergebietes liegt – derzeit Deutschland, Österreich, Schweiz
                        und Südtirol in Italien an Veranstalter. Veranstalter können öffentliche oder gewerbliche
                        Einrichtungen sein oder Vereine. Darüber hinaus können Werke durch Verlage und Autoren,
                        sonstige künstlerische Darbietungen, Raumkapazitäten, Dienstleistungen oder auch Kapazitäten
                        über das eKulturPortal an Interessierte über das Portal vermittelt werden.</li>
                </ul>
                Das eKulturPortal ist eine reine Geschäftsanwendung (b2b) und steht nicht zur       Nutzung für den
                Endverbraucher (Zuschauer) bereit.

                Das eKulturPortal ist nicht selbst Anbieter der auf <u><a href="http://www.ekulturportal.de">www.eKulturPortal.de</a></u>
                     aufgeführten Werk-, Produktions-, Künstler-, Gastspiel-, Ressourcen- oder Dienstleistungsangebote.
                Das eKulturPortal ist lediglich Anbieter der Angebote zur        Vermittlung der Leistungen der
                Anbieter an den Geschäftskunden.

                Für den Inhalt und die Gestaltung der jeweiligen Angebote ist alleine der jeweilige Anbieter, dessen
                Produkte, Produktionen, Dienstleistungen oder Kapazitäten, die angefragt und gebucht werden können,
                verantwortlich, wie auch für die ordnungsgemäße Beschaffenheit, Ausführung vor Ort oder der    
                Leistungsumsetzung. Verpflichteter im Hinblick auf die bestellten Produkte, Leistungen, Kapazitäten ist
                demnach ausschließlich der jeweilige Anbieter, mit dessen Stellvertreter ein Vertrag bei der
                Entgegennahme der Bestellung am gewünschten Erfüllungsort zustande kommen soll. Dessen Leistungen
                erfolgen wiederum auf der Grundlage seiner jeweiligen Allgemeinen Geschäftsbedingungen, soweit diese in
                den Vertrag wirksam einbezogen werden.

                &nbsp;
                <ul>
                    <li><strong>Gültigkeit</strong></li>
                </ul>
                Die hier aufgeführten Geschäftsbedingungen regeln die Richtlinien, unter denen die Benutzung der
                Website erfolgt. Die Geschäftsbedingungen finden auch dann Anwendung, wenn der Dienst von außerhalb der
                Bundesrepublik Deutschland  benutzt wird. Durch die Registrierung beim Betreiber erkennt der Benutzer
                an, die Allgemeinen Geschäftsbedingungen gelesen und verstanden zu haben und diese zu akzeptieren.
                Abweichende Regelungen und insbesondere Bedingungen des Benutzers, die mit den Geschäftsbedingungen in
                Widerspruch stehen, bedürfen der schriftlichen Einwilligung des Betreibers.

                &nbsp;
                <ul>
                    <li><strong>Leistungsumfang </strong></li>
                </ul>
                Der Betreiber des eKulturPortals betreibt eine local based network community im Internet mit den
                Möglichkeiten, Geschäftsprozesse zu durchlaufen und bietet den Benutzern Zugriff auf eine Datenbank,
                mithilfe dieser sich Geschäftspartner und potenzielle Partner austauschen können. Diese Datenbank
                enthält Profile und Informationen über virtuelle Geschäftspartner. Die Benutzer und Betriebe können
                sich in der Datenbank die Profile anderer Nutzer und Betriebe als auch deren Angebote zu Produkten,
                Dienstleistungen und Raumressourcen ansehen, diese optionieren und individuelle eigene Netzwerke
                anlegen bzw. pflegen. Darüber hinaus kann das eigene Profil bzw. das des eigenen Betriebes und die
                Angebote präsentiert werden.
                <ul>
                    <li>Registrierung als Benutzer</li>
                </ul>
                <ul>
                    <li>Das eKulturPortal ist eine Geschäftskundenanwendung. Daher ist die Authentifizierung der
                        registrierten Benutzer zur Sicherstellung der Seriosität gegenüber allen anderen Benutzern des
                        Portals ein wesentliches Qualitätsmerkmal. Das eKulturPortal stellt dem Benutzer die
                        Möglichkeit zur Verfügung, Privatsphäreeinstellungen vorzunehmen, welche über vordefinierten
                        Gruppen Informationen im eKulturPortal sichtbar gemacht werden können. Vor-, Nachname, Beruf,
                        Ort mit PLZ, Land und Anrede sind öffentlich und somit für jeden Benutzer im eKulturP sichtbar.
                        Die URLs zu persönlichen Medien bzw. das Benutzer-Foto sind optionale Erfassungen und werden
                        ebenfalls öffentlich angezeigt, sobald diese erfasst sind. Alle weiteren Benutzerinformationen
                        sind für vordefinierte Gruppen über Privatsphäreeinstellungen durch den Benutzer in den
                        Sichteinschränkungen verwaltbar.
                        <ul>
                            <li>Registrierung als Betrieb und Prüfung durch den Portalbetreiber</li>
                        </ul>
                    </li>
                </ul>
                Das eKulturPortal ist ein Geschäftskunden-Portal (b2b). Daher agieren und kommunizieren im
                eKulturPortal ausschließlich Betriebe und deren Mitarbeiter miteinander und betriebsübergreifend.
                (Betriebe können Fachbereiche öffentlicher oder gewerblicher Einrichtungen sein, Freiberufler,
                Personengesellschaften, Einzel-Gewerbetreibende oder Betriebe entsprechend der Definition des HGBs).
                Jeder Benutzer muss sich nach der Registrierung mit einem Betrieb verknüpfen für die er als Eigentümer,
                Geschäftsführer oder Mitarbeiter im eKulturPortal aktiv sein möchte. Es besteht die Möglichkeit, sich
                mit mehreren Betrieben zu verknüpfen. Als Betrieb werden auch eigenständige Organisationseinheiten
                betrachtet, z.B. ein Fachbereich einer Behörde oder eines Betriebs, sofern dieser Entscheidungsbefugnis
                hat. Der Betrieb kann von jedem Mitarbeiter oder Benutzer im eKulturPortal erfasst werden. Im Anschluss
                daran erhält der Betriebseigentümer eine Freigabebenachrichtigung. Nach der Freigabe durch den
                Betriebseigentümer findet der Prüfprozess des Portalbetreibers statt. Der Betrieb kann während des
                Prüfprozesses alle weiteren Informationen im eKulturPortal erfassen, auch seine Angebote. Erfasste
                Informationen und Angebote werden erst veröffentlicht, sobald der Prüfprozess durch den Betreiber zur
                Veröffentlichung des Betriebs erfolgt ist. Für die Richtigkeit der Angaben und die Rechtezurodnung an
                Mitarbeiter als auch die Privatsphäreeinstellungen ist ausschließlich der Betrieb als registrierter
                Betrieb verantwortlich. Das eKulturPortal prüft lediglich über die DUNS-Nummer, Gläubiger-ID oder über
                die entsprechenden Registergerichte, ob dieser Betrieb tatsächlich existiert. Hierfür erfolgt eine
                Freigabe durch den Betreiber des ekulturportals. Erst nach erfolgreicher Prüfung wird der Betrieb
                veröffentlicht. Über die Freigabe wird der Betriebsinhaber oder dessen Vertreter per Email informiert.
                Die Prüfung des Betriebes auf die reale Existenz durch den Betreiber reduziert das Risiko für unseriöse
                Angebote und dient der Qualitätserhöhung für die Community im eKulturPortal.

                &nbsp;
                <ul>
                    <li><strong>Organisation von Geschäftsbeziehungen</strong>
                        eKulturPortal übernimmt lediglich als Portal die Vermittlung und Kommunikationsmöglichkeiten
                        zwischen Anbieter und Abnehmer innerhalb einer Wertschöpfungskette bzw.
                        Wertschöpfungsnetzwerken. Hierbei kommt es zu unterschiedlichen Geschäftsbeziehungen und -
                        Geschäftsbeziehungen werden durch den Initiator angefragt und der Angefragte kann diese
                        annehmen oder ablehnen. Für die Korrektheit der Informationen, die im Zuge der Einladung zu
                        einer Geschäftsbeziehung durch den Initiator (der zur Geschäftsbeziehung Einladende) gemacht
                        werden, übernimmt der Initiator die Verantwortung und nicht das eKulturPortal. Auch über das
                        aktive Zustandekommen einer Geschäftsbeziehung durch einen Initiator zwischen ihm und dem
                        potenziellen Annehmenden übernimmt das eKulturPortal keine Verantwortung. Hingegen wird bei
                        einer Transaktion zwischen zwei Betrieben, z.B. bei einer Optionsvereinbarung, die
                        Geschäftsbeziehung automatisch durch das eKulturPortal erzeugt. Beide Beteiligten haben die
                        Möglichkeit, diese Geschäftsbeziehung zu löschen, sofern keine laufenden Prozesse davon
                        betroffen sind. Laufende Prozesse können laufende Optionen, Reservierungen, Buchungen usw.
                        sein. Erst wenn diese von den Beteiligten aufgehoben wurden, kann die Geschäftsbeziehung durch
                        einen Beteiligten gelöscht werden. Über gelöschte Geschäftsbeziehungen werden nur die direkt
                        Beteiligten informiert.</li>
                    <li><strong>Organisieren der Stammdaten und Rechte</strong></li>
                </ul>
                Mitarbeitern können verschiedene Rechte über die Berechtigungsverwaltung zugeordnet werden. Die
                Rechteverwaltung darf nur der Betriebseigentümer oder ein Mitarbeiter, der das Recht „Administration“
                durch den Betriebseigentümer erhalten hat, ausüben. Die Stammdaten, sowohl für den Betrieb als auch der
                zu erfassenden Produkte bzw. Angebote sind durch jeden Mitarbeiter erfassbar oder bearbeitbar. Die
                Freigabe erfolgt durch den jeweiligen Rechteinhaber „Administration“. Für die Veröffentlichungen und
                Rechtezuordnungen übernimmt der Betriebseigentümer die Verantwortung. Im System sind die Mitarbeiter
                mit dem Recht „bearbeiten“ voreingestellt. Das Recht “bearbeiten” beinhaltet nicht die Freigabe für
                Veröffentlichung. Letztere Aktivität kann nur durch das Sonderrecht “Administration” durchgeführt
                werden.

                &nbsp;

                Das eKulturPortal stellt den Betrieben ebenfalls die Möglichkeit zur Verfügung, Informationssichten für
                definierte Benutzergruppen einzuschränken. Die Verantwortung der Einschränkungen zur Privatsphäre
                übernimmt der Betriebseigentümer.

                &nbsp;
                <ul>
                    <li><strong>Organisieren der Produktstammdaten und Angebote erstellen</strong></li>
                </ul>
                Das eKulturPortal ist als reines Vermittler-Portal tätig und haftet nicht für die Veröffentlichung der
                dort eingestellten Informationen und Inhalte. Checklisten dienen der Unterstützung bei der Durchführung
                von Tätigkeiten und sichern nicht die Vollständigkeit aller zu erbringenden Aufgaben zu. Für die
                Vollständigkeit aller Arbeitsabläufe haftet der Benutzer selbst.

                &nbsp;
                <ul>
                    <li><strong>Urheberrechte</strong></li>
                </ul>
                Die Benutzer und Betriebe haften für die Angaben zu Urhebern und Benutzungsrechten von Bild-, Film- und
                jeglichem Format, die im eKulturPortal durch sie veröffentlicht werden. Auch bei der Einbindung von
                Videomaterial, Pressetexten oder anderen urheberrechtlich geschützten Werken sind die Urheberrechte
                durch den Benutzer oder Betrieb vollumfänglich einzuhalten. Abmahnungen bei Missachtung von
                Urheberschutzrechten werden automatisch dem erfassenden Benutzer bzw. Betrieb zugeordnet, der dafür
                vollumfänglich haftet.

                &nbsp;
                <ul>
                    <li><strong>Private Nutzung</strong></li>
                </ul>
                Das ekulturportal ist eine b2b-Anwendung. Jegliche Nutzung des Portals für private Zwecke ist nicht im
                angebotenen Leistungsumfang enthalten und untersagt. Ausnahme ist die KnowledgeBase: Hier können
                Privatpersonen Beiträge posten, teilen und kommentieren und im Bereich der Nachrichten bzw. im Chat.
                Hier sind auch private Nachrichten und Kommunikationen erlaubt.

                &nbsp;
                <ul>
                    <li><strong>Dritte Dienstleister und Erfüllungsgehilfen</strong></li>
                </ul>
                Der Betreiber ist berechtigt, dritte Dienstleister und Erfüllungsgehilfen mit der Erbringung von Teilen
                oder des ganzen Leistungsspektrums zu beauftragen.

                &nbsp;
                <ul>
                    <li>Vertragsabschluss, Vertragsbeginn</li>
                </ul>
                Der Vertrag zwischen eKulturPortal und dem Benutzer kommt bei der Registrierung durch den Benutzer 
                bzw. dem zu registrierenden Betrieb zustande.

                &nbsp;
                <ul>
                    <li>Freemium</li>
                </ul>
                Die Nutzung der Leistungen des eKulturPortals sind während der Testphase kostenlos.

                Im Anschluss der Testphase des eKulturPortals bleiben die Basisfunktionen kostenlos. Als
                Basisfunktionen werden die Benutzerverwaltung, die Organisation der Betriebsstammdaten und die
                Verwaltung der Produktstammdaten bis zu einem definierten Umfang bezeichnet. Die Bepreisungen der
                Premiumfunktionen werden frühzeitig sowohl über das eKulturPortal kommuniziert als auch über den
                Newsletter.

                &nbsp;
                <ul>
                    <li>Datenschutz</li>
                    <li>Es gelten die Datenschutzbestimmungen des Betreibers.</li>
                    <li>Sie könnten dieser Einwilligung jederzeit untersagen, hierzu genügt eine E-ail an <u><a href="mailto:info@ekulturportal.de">info@ekulturportal.de</a></u></li>
                    <li><u>Weitergabe von personenbezogenen Daten an Dritte</u>: Es findet weder ein Verkauf, noch ein
                        Tausch, oder eine sonstige Weitergabe von persönlichen Daten an Dritte zu kommerziellen Zwecken
                        beim eKulturPortal Personenbezogene Daten von Ihnen werden nur weitergegeben, wenn Sie Ihre
                        Einwilligung hierzu erteilt haben bzw. soweit das eKulturPortal hierzu infolge von gesetzlichen
                        Regelungen oder behördlichen Anordnungen verpflichtet ist.</li>
                </ul>
                &nbsp;
                <ul>
                    <li>Haftung des Betreibers</li>
                </ul>
                &nbsp;
                <ul>
                    <li>Für auftretende Schäden, psychischer, physischer oder finanzieller Art, die mit dem angebotenen
                        Service in Verbindung stehen, haftet eKulturPortal nur, insofern Schaden auf einer grob
                        fahrlässigen Pflichtverletzung des Betreibers bzw. dessen gesetzlichen Vertretern oder
                        Erfüllungsgehilfen oder auf Vorsatz von eKulturPortal dessen gesetzlicher Vertreter oder
                        Erfüllungsgehilfen entsteht.</li>
                    <li>Für Schäden, die mit dem angebotenen Service in Verbindung stehen und die an anderen
                        Rechtsgütern als Leben, Körper oder Gesundheit auftreten, haftet eKulturPortal soweit dieser
                        Schaden auf einer grob fahrlässigen Pflichtverletzung des Betreibers bzw. dessen gesetzlicher
                        Vertreter oder Erfüllungsgehilfen oder auf Vorsatz des Betreibers bzw. dessen gesetzlicher
                        Vertreter oder Erfüllungsgehilfen beruht.</li>
                    <li>eKulturPortal kann nicht für unkorrekte Angaben der Benutzer bzw. der Betriebe rechtlich
                        belangt werden. Da es sich um eine b2b-Anwendung bzw. -Portal handelt, haftet jeder Betrieb
                        bzw. Benutzer für die im eKulturPortal veröffentlichten Angaben selbst. eKulturPortal übernimmt
                        keinerlei Haftung für etwaigen Missbrauch der Informationen durch andere Benutzer oder Betriebe
                        oder Dritte, dies gilt besonders dann, wenn der Benutzer und Betrieb die Informationen selbst
                        veröffentlicht hat. Außerdem haftet eKulturPortal nicht für unbefugte Kenntniserlangung durch
                        Dritte von persönlichen Daten der Benutzer oder Betriebe (z.B. durch unbefugten Zugriff von
                        „Hackern“ auf die Datenbank), soweit den Betreiber unter Berücksichtigung der Einschränkung der
                        Absätze 1 und 2 des Punkt 10 nicht eigenes Verschulden ein Verschulden seiner gesetzlicher
                        Vertreter oder Erfüllungsgehilfen trifft. Der Betreiber ist berechtigt, aber nicht
                        verpflichtet, den Inhalt jedes Textes sowie eingesendeter / hochgeladener Grafikdateien auf
                        die, diesen AGB zu Grunde liegenden Bestimmungen hin zu überprüfen und, falls erforderlich, zu
                        ändern oder zu entfernen/löschen.</li>
                    <li>eKulturPortal kann für signifikante Beeinträchtigungen des Dienstes nicht haftbar gemacht
                        werden.</li>
                    <li>Des weiteren haftet eKulturPortal nicht für den diesem nicht zu verantwordende Ausfälle des
                        Dienstes, z.B. durch höhere Gewalt oder technischen Störungen des Internets.</li>
                    <li>Für die Inhalte Dritter sowie externer Links kann eKulturPortal keine Verantwortung übernehmen.
                        Bei den von den Benutzern bzw. den Betrieben verfassten und unter <u><a href="https://ekulturportal.de">https://ekulturportal.de</a></u>
                        <u><a href="https://ekulturportal-test.de">https://ekulturportal-test.de</a></u>
                        veröffentlichten Inhalten handelt es sich um fremde Inhalte im Sinne Punkt 5 des
                        Teledienstgesetzs (TDG) in der Fassung vom 22.7.1997, weshalb für diese vom Betreiber keinerlei
                        Verantwortung übernommen wird.</li>
                </ul>
                &nbsp;
                <ul>
                    <li>Pflichten des Benutzers und der registrierten, im eKulturPortal agierenden Betriebe</li>
                </ul>
                Neben den bereits im Kapitel 1 und deren Unterpunkten beschriebenen Haftungen, sollen in diesem Kapitel
                die weiteren Pflichten vereinbart werden.

                &nbsp;
                <ul>
                    <li>Der Benutzer bzw. Betrieb ist für den Inhalt seiner Benutzerdaten und Anmeldung und somit für
                        die Daten, die er über sich macht, alleine verantwortlich. Er ist verpflichtet, geeignete
                        Maßnahmen zu treffen, um eine unautorisierte Nutzung seiner Daten insbesondere Kennwörter durch
                        Dritte zu verhindern. Er verpflichtet sich, eKulturPortal unverzüglich über eine bemerkte oder
                        vermutete Nutzung seines Accounts zu informieren. Ebenso ist sicher zu stellen, den Zugang zu
                        Desktop oder ein anderes benutztes Endgerät bei Abwesenheit des Benutzers keinen Zugriff
                        anderer erlaubt.</li>
                    <li>Der Benutzer bzw. Betrieb versichert, dass die angegebenen Informationen der Wahrheit
                        entsprechen und seine Persönlichkeit bzw. die Betriebsstammdaten oder Angebote bzw. Produkte
                        und Leistungen beschreibt. Die Vertragspartner sind sich einig, dass es als berechtigtes
                        Interesse von eKulturPortal gilt, die Richtigkeit der gemachten Angaben durch den Benutzer oder
                        Betrieb ggf. überprüfen zu lassen.</li>
                    <li>Der Benutzer bzw. Betrieb verpflichtet sich, eKulturPortal schadlos von jeder Art von Klagen,
                        Schäden, Verlusten oder Forderungen zu halten, die durch seine Anmeldung und Registrierung und
                        / oder Teilnahme an den Services und Leistungen entstehen können, insofern diese Schäden nicht
                        auf Vorsatz oder Fahrlässigkeit von eKulturPortal bzw. dessen gesetzlicher Vertreter oder
                        Erfüllungsgehilfen beruhen. Besonders verpflichtet sich der Benutzer bzw. der Betrieb,
                        eKulturPortal von jeglicher Haftung und von allen Verpflichtungen, Aufwendungen und Ansprüchen,
                        die sich aus Schäden wegen übler Nachrede, Beleidigung, Verletzung von Persönlichkeitsrechten,
                        wegen dem Ausfall von Dienstleistungen für Benutzer ggf. Betriebe, wegen der Verletzung von
                        Immaterialgütern oder sonstiger Rechte ergeben, freizusprechen.</li>
                    <li>Der Benutzer bzw. Betrieb verpflichtet sich des Weiteren, bei Anmeldung und Nutzung des
                        Angebots unter <u><a href="https://www.ekulturportal.de">https://www.ekulturportal.de</a></u>
                        die jeweils anwendbaren Gesetzte einzuhalten.</li>
                    <li>Der Benutzer bzw. Betrieb verpflichtet sich auch, E-Mails und eventuell andere eingehende
                        Nachrichten vertraulich zu behandeln und diese nicht, ohne Zustimmung ihres Urhebers, Dritten
                        zugänglich zu machen oder weiter zu geben. Gleiches gilt für Namen, Telefon- und Faxnummern,
                        Wohn-, E-Mail-Adressen und / oder URLs.</li>
                    <li>Ferner verpflichtet sich jeder einzelne Benutzer, den Service nicht missbräuchlich zu nutzen,
                        insbesondere:
                        <ul>
                            <li>Über ihn kein diffamierendes, anstößiges oder in sonstiger Weise rechtswidriges
                                Material oder solche Informationen weiterzugeben</li>
                            <li>Ihn nicht zu benutzen, um andere Personen / Benutzer zu bedrohen, belästigen oder die
                                Rechte (einschließlich der Persönlichkeitsrechte) Dritter zu verletzen</li>
                            <li>Keine Daten hochzuladen, die einen Virus beinhalten (infizierte Software). Generell
                                keine Software oder anderes Material hochzuladen, das urheberrechtlich geschützt ist,
                                es sei denn, der Nutzer bzw. der Betrieb hat die Rechte daran oder die erforderlichen
                                Zustimmungen – hier kann durch den Betreiber ein schriftlicher Nachweis gefordert
                                werden. Außerdem sind Urheber stets zu nennen.</li>
                            <li>Ihn nicht auf eine Art und Weise zu nutzen, welche die Verfügbarkeit der
                                Leistungsangebote für andere Benutzer bzw. Betriebe nachteilig beeinflusst</li>
                            <li>Keine E-Mails abzufangen und dies auch nicht zu versuchen</li>
                            <li>Keine Werbung für andere Internetportale zu betreiben</li>
                            <li>Keine Kettenbriefe zu verfassen und zu versenden</li>
                            <li>In den persönlichen bzw. betriebsbetreffenden und freiwilligen Angaben (Benutzerprofil
                                / Betriebsprofil) keine falschen Namen, Adressen, Telefon- oder Faxnummern sowie E-Mail
                                Adressen zu nennen</li>
                        </ul>
                    </li>
                    <li>Die Nichtbeachtung der o.g. Verhaltensbestimmungen kann zu einer sofortigen Kündigung der
                        Mitgliedschaft seitens eKulturPortal führen, und / oder auch zivil- und strafrechtliche Folgen
                        für den Benutzer bzw. Betrieb mit sich bringen. Insbesondere kann ein Schadensersatzanspruch
                        anfallen. eKulturPortal behält sihc hier das Recht vor, den Benutzer bzw. Betrieb von seinen
                        Services auszuschließen, falls bei der Anmeldung oder Nutzung der Services nach Meinung des
                        Betreibers oder der Community sittenwidrige, obszöne oder politisch radikale Inhalte in
                        Schriftform oder Fotos verbreitet werden.</li>
                </ul>
                <ol start="5">
                    <li>Verbot zweckfremder Nutzung, Verbot von Spamming
                        <ol>
                            <li>der Benutzer bzw. Betrieb versichert, dass er im Zusammenhang mit der Nutzung keine
                                zweckfremde Werbung auf ekulturportal.de vornimmt. Er verpflichtet sich, das
                                eKulturPortal ausschließlich für die Präsentation seines kulturell oder künstlerisch
                                ausgerichteten Betriebs oder der Zulieferung zu solchen Betrieben zu nutzen und den
                                Leistungsumfang von eKulturPortal auch nur in diesem Zusammenhang zu nutzen.</li>
                            <li>Der Benutzer bzw. der Betrieb verpflichtet sich eKulturPortal nicht als Plattform zur
                                Verbreitung von Werbung für andere Plattformen zu benutzen oder per Link auf eigene
                                zweckfremde Internetseiten zu verweisen. Dies gilt insbesondere für Bewerbung von
                                Unternehmen in Form von Pop-ups, Banner-Werbung oder durch besonders hervorgehobene
                                oder auffällige Links. Eine Internet-Seite gilt insbesondere auch dann als zweckfremde
                                gewerbliche Nutzung, wenn von ihr aus direkt oder indirekt auf das gewerbliche
                                Internetportal eines anderen Betreibers verlinkt wird.</li>
                            <li>Es ist dem Benutzer bzw. dem Betrieb untersagt, Mehrwertdienstleistungsnummern oder
                                Mehrwert-SMS-Nummern (Premium SMS) im Rahmen dieses Internetportals zu nennen</li>
                            <li>Es ist dem Benutzer bzw. dem Betrieb untersagt, Kontaktaufnahme zum Zweck eines
                                Hinweises auf 0900-Nummern oder Mehrwert-SMS-Nummern zu nehmen.</li>
                            <li>Es ist den Benutzern bzw. Betrieben untersagt, Abwerbung von Mitarbeitern über das
                                eKulturPortal</li>
                            <li>Es ist den Benutzern bzw. Betrieben untersagt, über das eKulturPortal Profil-Daten
                                einzelner Benutzer mit dem Hintergrund der kommerziellen Benutzung, Werbung oder des
                                Weiterverkaufs an Dritte zu sammeln</li>
                        </ol>
                    </li>
                </ol>
                &nbsp;
                <ol start="6">
                    <li>Änderungen der Allgemeinen Geschäftsbedingungen
                        <ol>
                            <li>eKulturPortalbehält sich das Recht vor, die allgemeinen Geschäftsbedingungen zu ändern.</li>
                            <li>Der Benutzer bzw. Betrieb erklärt, mit der Anwendung der geänderten geschollsene
                                Verträge einverstanden zu sein, wenn eKulturPortal den Benutzer bzw. Betrieb darauf
                                hinweist, dass Änderungen der AGBs stattgefunden haben und der Benutzer bzw. Betrieb
                                nicht innerhalb einer Frist von zwei Wochen, beginnend mit dem Tag, der auf die
                                Änderungsmitteilung folgt, der Abänderung widers</li>
                            <li>Die Mitteilung der Änderung muss noch einmal den Hinweis auf die Möglichkeit und Frist
                                des Widerspruchs, sowie die Bedeutung Folgen des Unterlassens eines Widerspruchs, sowie
                                die Bedeutung bzw. Folgen des Unterlassnes eines Widerspruchs enthalten. Sie kann per
                                E-Mail an die vom Benutzer angegebene E-Mail-Adresse erfolgen.</li>
                        </ol>
                    </li>
                    <li>Schlussbestimmung</li>
                </ol>
                <ul>
                    <li>Vertragsabänderungen, Ergänzungen und Nebenabreden bedürfen, sofern in diesen Allgemeinen
                        Geschäftsbedingungen nichts anderes bestimmt, zu ihrer Wirksamkeit der Schriftform beider
                        Seiten. Das Schriftformerfordernis gilt auch für den Verzicht auf dieses
                        Schriftformerfordernis.</li>
                    <li>Die vertraglichen Vereinbarungen der Vertragspartner unterliegen dem Recht der Bundesrepublik
                        Deutschland unter Ausschluss des UN-Kaufsrechts (CISG) und des Kollisionsrechts.</li>
                    <li>Sollten einzelne Bestimmungen dieses Vertrages unwirksam oder undurchführbar sein oder nach
                        Vertragsschluss unwirksam oder undurchführbar werden, bleibt davon die Wirksamkeit des
                        Vertrages im Übrigen unberührt. An die Stelle der unwirksamen oder undurchführbaren Bestimmung
                        soll diejenige wirksame und durchführbare Regelung treten, deren Wirkungen der wirtschaftlichen
                        Zielsetzung am nächsten kommen, die die Vertragsparteien mit der unwirksamen bzw.
                        undurchführbaren Bestimmung verfolgt haben. Die vorstehenden Bestimmungen gelten entsprechend
                        für den Fall, dass sich der Vertrag als lückenhaft erweist.</li>
                </ul>
            </div>
        </div>
    </div>
</div>