.main-card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.heading-mid {
    text-align: center;
}

.content-layout {
  padding: 20px;
}

.zurueck{
    text-decoration: underline;
    font-weight: 600;
}