<!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <a [routerLink]="['/']">
        <img class="img-fluid" src="../../../assets/images/Logo-eKulturPortal_app.jpg" alt="eKulturPortal Logo" style="padding-left: 10px;" />
    </a>
    <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
    <a routerLink="/" style="color: #353c4e"><span class="f-right zurueck">Zurück</span></a>
</div> -->
<div class="row">
    <div class="col-lg-12">
        <div class="card main-card">
            <!-- <h3 class="heading-mid">Impressum</h3> -->
            <div class="content-layout">
                <strong>Anbieterkennzeichnung
                </strong>
                <p style="padding-left: 30px;">eKultur GmbH<br>
                    Sitz der Gesellschaft: München<br>
                    Handelsregister: HRB NR. 221651<br>
                    Steuer-Ident: DE292380656<br>
                    Amtsgericht München<br>
                    Geschäftsführung: Iris von Zastrow</p><br>
                <strong>Anschrift</strong>
                <p style="padding-left: 30px;">eKultur GmbH<strong><br>
                    </strong>Plinganserstraße 42c Rgb.<br>
                    81369 München</p><br>
                <strong>Kontaktdaten</strong>
                <p style="padding-left: 30px;">Internet: <a title="http://e-kultur.eu" href="http://e-kultur.eu" target="_blank"
                        rel="noopener">http://e-kultur.eu</a><br>
                    Mail: <a title="info@e-kultur.eu" href="mailto:info@e-kultur.eu" target="_blank" rel="noopener">info@e-kultur.eu</a><br>
                    Tel: 0170-286 29 55</p><br>
                <strong>Bankverbindung</strong>
                <p style="padding-left: 30px;">Sparkasse München<br>
                    IBAN: DE31 7015 0000 1003 0043 46<br>
                    BIC: SSKMDEMMXXX</p><br>
                <strong>Haftung für Inhalte</strong>
                <p style="padding-left: 30px;">Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die
                    Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
                    Alle auf dieser Website genannten Produktnamen, Produktbezeichnungen und Logos sind Eigentum der
                    jeweiligen Rechteinhaber.</p>
                <strong>Haftung für Verweise auf fremde Webseiten</strong>
                <p style="padding-left: 30px;">Das Angebot enthält Links zu externen Webseiten Dritter, auf deren
                    Inhalte wir keinen Einfluss haben. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr
                    übernehmen. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße
                    überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Bei
                    Bekanntwerden von Rechtsverletzungen werden ich derartige Links umgehend entfernen.</p>
                <strong>Urheberrecht</strong>
                <p style="padding-left: 30px;">Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
                    Seiten unterliegen dem deutschen Urheberrecht.  Die Vervielfältigung, Bearbeitung, Verbreitung und
                    jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes (Zitatrecht, ...) bedürfen der
                    vorherigen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind
                    nur für den privaten Gebrauch gestattet.</p>
                <p style="padding-left: 30px;">Der Nutzung von veröffentlichten Kontaktdaten durch Dritte zur
                    Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit
                    ausdrücklich widersprochen.</p>
                <strong>Danke</strong>
                <p style="padding-left: 30px;">Sollten Sie als aufmerksamer Leser Fehler gefunden haben, würden wir uns
                    über einen Hinweis sehr freuen.
                    Herzlichen Dank bereits im Voraus</p>
            </div>
        </div>
    </div>
</div>